{% extends 'base.html.twig' %}

{% block title %}New Ordonnance{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Create New Ordonnance</h1>
        {{ include('ordonnance/_form.html.twig') }}
        <a href="{{ path('app_ordonnance_index') }}" class="btn btn-secondary mt-2">Back to list</a>
    </div>
{% endblock %}
